html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    background-color: #141414;
    background-image: -webkit-linear-gradient(top, #CCC, #EEE 100%);
    background-image:    -moz-linear-gradient(top, #CCC, #EEE 100%);
    background-image:     -ms-linear-gradient(top, #CCC, #EEE 100%);
    background-image:      -o-linear-gradient(top, #CCC, #EEE 100%);
    background-image:         linear-gradient(top, #CCC, #EEE 100%);
    height: 100%;
    min-height: 800px;
    color: #333;
    font: 300 15px/1 Verdana;
}
#main:before {
    background-image: -webkit-radial-gradient(center, circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 100%);
    background-image:    -moz-radial-gradient(center, circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 100%);
    background-image:     -ms-radial-gradient(center, circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 100%);
    background-image:      -o-radial-gradient(center, circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 100%);
    background-image:         radial-gradient(center, circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 100%);
    position: absolute;
    content: '';
    top: 0; right: 0; bottom: 0; left: 0;
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */

body {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.wrapper {
    position: relative;
    width: 500px;
    height: 900px;
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -250px;
    margin-top: -450px;
}

h1, h2 {
    font: bold 60px/1 'Ubuntu';
    color: rgba(40, 40, 40, 0.8);
    text-shadow: 1px 2px 3px #DDD, 0 0 0 #000, 1px 2px 3px #DDD;
    letter-spacing: -5px;
}
h2 {
    font-size: 30px;
    letter-spacing: -2px;
    text-shadow: 1px 2px 3px #DDD, 0 0 0 #222, 1px 2px 3px #DDD;
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */

#container {
    position: relative;
    width: 500px;
    height: 500px;
}

.wheel-of-life-range {
    position: absolute;
}
.wheel-of-life-range input {
    position: absolute;
    text-align: left;
    direction: ltr;
    left: -9999px;
}

.wheel-of-life-range-btn {
    margin-top: -16px;
    position: absolute;
    top: 0; left: -20px; /* btn half size */
    width: 38px;
    height: 38px;
    z-index: 2;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

    border: 2px solid rgba(255, 255, 255, .8);

    background-image: -webkit-radial-gradient(10px 10px, circle cover, #FFF, #DDD);
    background-image:    -moz-radial-gradient(10px 10px, circle cover, #FFF, #DDD);
    background-image:      -o-radial-gradient(10px 10px, circle cover, #FFF, #DDD);
    background-image:         radial-gradient(10px 10px, circle cover, #FFF, #DDD);
    
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
         -o-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.3);
}
.wheel-of-life-range .btn:active {
    border-color: rgba(255, 255, 255, .5);
    top: 1px;
    -webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.3);
         -o-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.3);
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */

.wheel-of-life-range .btn {
    -webkit-transition: 0.2s all ease-out;
       -moz-transition: 0.2s all ease-out;
         -o-transition: 0.2s all ease-out;
            transition: 0.2s all ease-out;
}
.wheel-of-life-range.moving .btn {
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
}
